<section id="about-section" class="center-align">

  <div class="row">
    <div class="col s4">
      <img src="./images/brutus-running.jpg" />


    </div>
    <div class="col s4">
      <img src="./images/super-brutus.jpg" />

    </div>
    <div class="col s4">
      <img src="./images/brutus-strolling.jpg" />

    </div>
  </div>
  <!-- <div class="picture">
    <img src="./images/brutus-and-owner.jpg" />
  </div> -->

  <!-- <section id="repair-section">
  <div class="container center-align">

    <div id="photoShow">
      <div class="mydiv review-1 current">

        <img src="./images/brutus-headshot.jpg" alt="">
      </div>

      <div class="mydiv review-2">

        <img src="./images/brutus-and-owner.jpg" alt="">
      </div>

      <div class="mydiv review-3">
        <img src="./images/brutus-sitting.jpg" alt="">
      </div>
    </div>
  </div>
</section> -->


<h1>Watch out Boo and JiffPom...</h1>
  <div class="container">
   <div class="row">
     <div class="col s12">
       <p>
         Brutus is a Toy Pomeranian that lives & loves in Hollywood, California with his owner and fellow actor, Jonathan Sterritt.
         <br />
         <br />
          Brutus' internet debut came In 2013 when he became the face of the internet show, Ruff Cuts, on a YouTube channel created by the iDoggiebag Network where he helped spread awareness about the food borne illnesses that affect your dogs's food.

          He has continued to build his resume by appearing in a number of internet sketches since moving to LA. Although he is still new to the internet and the fame that awaits him, Brutus is ready to show the world that there is room for more than one incredibly good looking Pomeranian.
          <br />
          <br />
          With experience in print and film, Brutus is available and trained to enhance the cuteness factor on your next viral project. <span><a href="/contact">(Contact Here)</a></span>
          <br />
          <br />
          His Mission: <br />to spread cuteness and the message of food safety for pets around the world.
          <br />
          <br />
          His Dream: <br />Brutus has a dream to become the next pet social media influencer while making his <br />mark in the entertainment industry.


       </p>

     </div>

     <div class="row faq">
       <h1>FAQ...</h1>
       <div class="col l6 m6 s12">

       <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header center-align">Name:</div>
          <div class="collapsible-body center-align"><span>Brutus</span></div>
        </li>
        <li>
          <div class="collapsible-header center-align">Age:</div>
          <div class="collapsible-body center-align"><span>5 (Human Years)</span></div>
        </li>
        <li>
          <div class="collapsible-header center-align">Color:</div>
          <div class="collapsible-body center-align"><span>Sable</span></div>
        </li>
        <li>
          <div class="collapsible-header center-align">Weight:</div>
          <div class="collapsible-body center-align"><span>6lbs</span></div>
        </li>
        <li>
          <div class="collapsible-header center-align">Tricks:</div>
          <div class="collapsible-body center-align"><span>In addition to being able to hit and stay on my mark, I am also able to do the following on command: sit, down, up, laydown, come, stay, and of course look cute</span></div>
        </li>
        <li>
          <div class="collapsible-header center-align">Favorite Food:</div>
          <div class="collapsible-body center-align"><span>Honest Kitchen Dehydrated Dog Food <a href="https://www.thehonestkitchen.com/?gclid=CjwKEAjw9_jJBRCXycSarr3csWcSJABthk07NKpNqYrkuncDXXk7UT6mnLACm5j2j3J4ZVx3nq80fhoCA0jw_wcB">(See Here)</a></span></div>
        </li>
        <li>
          <div class="collapsible-header center-align">Favorite Treat:</div>
          <div class="collapsible-body center-align"><span>Peanut Butter</span></div>
        </li>
        <li>
          <div class="collapsible-header center-align">Favorite Toy:</div>
          <div class="collapsible-body center-align"><span>The Kong</span></div>
        </li>
        <li>
          <div class="collapsible-header center-align">Favorite TV Show:</div>
          <div class="collapsible-body center-align"><span>Anything on Animal Planet</span></div>
        </li>
        <li>
          <div class="collapsible-header center-align">Celebrity Crush:</div>
          <div class="collapsible-body center-align"><span>Taylor Swift</span></div>
        </li>
      </ul>
       <!-- <div class="col s6">
         <ul>
           <li>Favorite Food: Honest Kitchen Dehydrated Dog Food <a href="https://www.thehonestkitchen.com/?gclid=CjwKEAjw9_jJBRCXycSarr3csWcSJABthk07NKpNqYrkuncDXXk7UT6mnLACm5j2j3J4ZVx3nq80fhoCA0jw_wcB">(See Here)</a></li>
           <li>Favorite Treat: Peanut Butter</li>
           <li>Favorite Toy: The Kong</li>
           <li>Favorite TV Show: Anything on Animal Planet</li>
           <li>Celebrity Crush: Taylor Swift</li>
         </ul>
       </div> -->
     </div>
     <div class="col l6 m6 s12 brutus-bowtie">
       <img src="./images/brutus-bowtie.png" />
     </div>
   </div>
  </div>
</section>
