<section id="about-section" class="center-align">
  <div class="picture">
    <img src="./images/brutus-and-owner.jpg" />
  </div>

  <!-- <section id="repair-section">
  <div class="container center-align">

    <div id="photoShow">
      <div class="mydiv review-1 current">

        <img src="./images/brutus-headshot.jpg" alt="">
      </div>

      <div class="mydiv review-2">

        <img src="./images/brutus-and-owner.jpg" alt="">
      </div>

      <div class="mydiv review-3">
        <img src="./images/brutus-sitting.jpg" alt="">
      </div>
    </div>
  </div>
</section> -->


  <h1>Watch out Boo and JiffPom...</h1>
  <div class="container">
   <div class="row">
     <div class="col s12">
       <p>
         There is a NEW internet celebrity Pom in town!
         <br />
         <br />
Brutus' internet debut came In 2013 when he became the face of the internet show, Ruff Cuts, on a YouTube channel created by the iDoggiebag Network where he helped spread awareness about the food borne illnesses that affect your dogs's food.

He has continued to build his resume by appearing in a number of internet sketches since moving to LA. Although he is still new to the internet and the fame that awaits him, Brutus is ready to show the world that there is room for more than one incredibly good looking Pomeranian.

With experience in print and film, Brutus is availible and trained to enhance the cuteness factor on your next viral project. <span><a href="/contact">(Contact Here)</a></span>
<br />
<br />
Brutus is a Toy Pomeranian that lives & loves in Hollywood, California with his owner and fellow actor, Jonathan Sterritt.
<br />
<br />
His Mission: to spread cuteness and the message of food safety for pets around the world.
<br />
<br />
His Dream: Brutus has a dream to meet Ellen Degeneres (he likes to dance)!


       </p>
     </div>
   </div>
  </div>
</section>
