<section id="gallery-section" class="center-align">
  <h1>Headshots</h1>
  <div class="row">
    <div class="col s8 offset-s2">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active">Top 10</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#one!"><img src="./images/headshots/coverphoto.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="./images/headshots/1.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="./images/headshots/2.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="./images/headshots/3.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="./images/headshots/4.jpg"></a>
                <a class="carousel-item" href="#six!"><img src="./images/headshots/5.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/headshots/6.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/headshots/7.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/headshots/8.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/headshots/9.jpg"></a>
              </div>

            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Animated</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#twentyThree!"><img src="./images/headshots/25.jpg"></a>
                <a class="carousel-item" href="#twentyFour!"><img src="./images/headshots/26.jpg"></a>
                <a class="carousel-item" href="#twentyFive!"><img src="./images/headshots/27.jpg"></a>
                <a class="carousel-item" href="#twentySix!"><img src="./images/headshots/28.jpg"></a>
                <a class="carousel-item" href="#twentySeven!"><img src="./images/headshots/29.jpg"></a>
              </div>

            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Misc.</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#two!"><img src="./images/headshots/10.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="./images/headshots/11.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="./images/headshots/12.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="./images/headshots/13.jpg"></a>
                <a class="carousel-item" href="#six!"><img src="./images/headshots/14.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/headshots/15.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/headshots/16.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/headshots/17.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/headshots/18.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="./images/headshots/19.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="./images/headshots/20.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="./images/headshots/21.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="./images/headshots/22.jpg"></a>
                <a class="carousel-item" href="#six!"><img src="./images/headshots/23.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/headshots/24.jpg"></a>
              </div>
            </span>
          </div>
        </li>
      </ul>

    </div>
  </div>


  <h1>Production Photos</h1>
  <div class="row">
    <div class="col s8 offset-s2">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active">Apartmates</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#two!"><img src="./images/production-photos/apartmates/1.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="./images/production-photos/apartmates/2.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="./images/production-photos/apartmates/3.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="./images/production-photos/apartmates/4.jpg"></a>
                <a class="carousel-item" href="#six!"><img src="./images/production-photos/apartmates/5.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/production-photos/apartmates/6.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/apartmates/7.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/apartmates/8.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/production-photos/apartmates/9.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="./images/production-photos/apartmates/10.jpg"></a>
                <a class="carousel-item" href="#six!"><img src="./images/production-photos/apartmates/11.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/production-photos/apartmates/12.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/apartmates/13.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/apartmates/14.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/production-photos/apartmates/15.jpg"></a>
              </div>

            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Blue Match Productions</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#two!"><img src="./images/production-photos/blue-match-productions/1.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="./images/production-photos/blue-match-productions/2.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="./images/production-photos/blue-match-productions/3.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="./images/production-photos/blue-match-productions/4.jpg"></a>
                <a class="carousel-item" href="#six!"><img src="./images/production-photos/blue-match-productions/5.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/production-photos/blue-match-productions/6.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/blue-match-productions/7.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/blue-match-productions/8.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/production-photos/blue-match-productions/9.jpg"></a>
              </div>

            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">iDoggiebag</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#two!"><img src="./images/production-photos/idoggiebag/1.jpg"></a>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Instabrutus</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#two!"><img src="./images/production-photos/instabrutus/1.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="./images/production-photos/instabrutus/2.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="./images/production-photos/instabrutus/3.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="./images/production-photos/instabrutus/4.jpg"></a>
                <a class="carousel-item" href="#six!"><img src="./images/production-photos/instabrutus/5.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/production-photos/instabrutus/6.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/instabrutus/7.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/instabrutus/8.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/production-photos/instabrutus/9.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="./images/production-photos/instabrutus/10.jpg"></a>
                <a class="carousel-item" href="#six!"><img src="./images/production-photos/instabrutus/11.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/production-photos/instabrutus/12.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/instabrutus/13.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/instabrutus/14.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/production-photos/instabrutus/15.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/production-photos/instabrutus/16.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/instabrutus/17.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/instabrutus/18.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/production-photos/instabrutus/19.jpg"></a>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Punk Brutus</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#seven!"><img src="./images/production-photos/brutus-punk/1.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/instabrutus/2.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/instabrutus/3.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/production-photos/instabrutus/4.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/production-photos/instabrutus/5.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/instabrutus/6.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/instabrutus/7.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/production-photos/instabrutus/8.jpg"></a>
                <a class="carousel-item" href="#seven!"><img src="./images/production-photos/instabrutus/9.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/instabrutus/10.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/instabrutus/11.jpg"></a>
                <a class="carousel-item" href="#ten!"><img src="./images/production-photos/instabrutus/12.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/production-photos/instabrutus/13.jpg"></a>
                <a class="carousel-item" href="#nine!"><img src="./images/production-photos/instabrutus/14.jpg"></a>

              </div>
            </span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <h1>Brutus and Friends</h1>
  <div class="row">
    <div class="col s8 offset-s2">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active">My Friends</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#seven!"><img src="./images/brutus-and-friends/coverphoto.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-friends/1.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-friends/2.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-friends/3.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-friends/4.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-friends/5.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-friends/6.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-friends/7.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-friends/8.jpg"></a>
              </div>
            </span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <h1>Brutus and his Dad</h1>
  <div class="row">
    <div class="col s8 offset-s2">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active">Portrait</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <!-- <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/1.jpg"></a> -->
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/2.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/3.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/4.jpg"></a>
                <!-- <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/5.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/6.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/7.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/8.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/9.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/11.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/10.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/12.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/13.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/14.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/15.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/16.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/15.cr2"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/portrait/16.cr2"></a> -->
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Superman</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/superman/1.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/superman/2.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/superman/3.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/superman/4.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/superman/5.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/superman/6.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/superman/7.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/superman/8.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/superman/9.jpg"></a>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">World Dog Awards 2016</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/1.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/2.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/3.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/4.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/6.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/7.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/8.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/9.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/10.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/11.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/12.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/13.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/14.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/15.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/16.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/17.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/world-dog-awards-2016/18.jpg"></a>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Animated</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/animated/1.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/animated/2.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/animated/3.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/animated/4.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/animated/5.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/animated/6.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/animated/7.jpg"></a>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Misc.</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/misc/1.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/misc/2.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/misc/3.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/misc/4.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/misc/5.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/misc/6.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/brutus-and-dad/misc/7.jpg"></a>

              </div>
            </span>
          </div>
        </li>
      </ul>

    </div>
  </div>




  <h1>Simply Brutus</h1>
  <div class="row">
    <div class="col l8 offset-l2 m8 offset-m2 s12">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active">Top Picks</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/1.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/2.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/3.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/4.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/5.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/6.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/7.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/8.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/9.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/10.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/11.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/12.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/13.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/14.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/15.jpg"></a>
                <!-- <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/16.jpg"></a> -->
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/17.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/18.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/19.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/20.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/21.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/22.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/23.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/24.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/25.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/26.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/27.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/28.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/29.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/30.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/31.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/32.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/33.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/34.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/35.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/36.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/37.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/38.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/39.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/40.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/41.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/42.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/43.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/44.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/45.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/46.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/47.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/top-picks/48.jpg"></a>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Misc</div>
          <div class="collapsible-body">
            <span>
              <div class="carousel">
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/1.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/2.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/3.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/4.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/5.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/6.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/7.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/8.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/9.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/10.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/11.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/12.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/13.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/14.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/15.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/16.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/17.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/18.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/19.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/20.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/21.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/22.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/23.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/24.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/25.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/26.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/27.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/28.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/29.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/30.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/31.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/32.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/33.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/34.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/35.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/36.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/37.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/38.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/39.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/40.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/41.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/42.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/43.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/44.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/45.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/46.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/47.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/48.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/49.png"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/50.jpg"></a>
                <a class="carousel-item" href="#eight!"><img src="./images/simply-brutus/misc/51.jpg"></a>

              </div>
            </span>
          </div>
        </li>
      </ul>

    </div>
  </div>

</section>
