<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <section>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <nav id="header" class=" nav">
            <ul>
              <li> <a href="#">History</a> </li>
              <li> <a href="#">Our Dogs</a></li>
              <li> <a href="#">For Sale</a></li>
              <li> <a href="#">Links</a></li>
              <li> <a href="#">Contacts</a> </li>
            </ul>

          </nav>
          <div id="hr-header">
            <hr /> <span>Quality Pup</span>

          </div>

          <body>
            <%- body %>
          </body>

          <footer>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Google</a></li>
            </ul>
            <hr />

          </footer>

        </div>
      </div>
    </div>


  </section>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</html>
