<!-- <ul class="juicer-feed" data-feed-id="brutuszcutest" data-style="widget" data-interval="100000000000000"data-filter="Youtube" >
  <h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer</a></h1>
</ul> -->

<section id="youtube-section">
  <h1>Featured Clip</h1>
  <ul class="juicer-feed" data-feed-id="brutuszcutest" data-style="widget" data-interval="100000000000000"data-filter="Youtube">
    <h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer</a></h1>
  </ul>
  <div class="g-ytsubscribe" data-channel="jonathansterritt" data-layout="default" data-count="default"></div>

  <h1  style="text-align: left;">iDoggiebag</h1>
  <ul class="juicer-feed" data-feed-id="brutuszcutest" data-style="slider" data-filter="Youtube" >
    <h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer</a></h1>
  </ul>
  <div class="g-ytsubscribe" data-channel="jonathansterritt" data-layout="default" data-count="default"></div>

  <h1  style="text-align: left;">Viral Videos</h1>
  <ul class="juicer-feed" data-feed-id="brutuszcutest" data-style="slider" data-filter="Youtube" >
    <h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer</a></h1>
  </ul>

  <div class="g-ytsubscribe" data-channel="jonathansterritt" data-layout="default" data-count="default"></div>


</section>
