#about-section {
  h1 {
    font-family: 'Fontdiner Swanky', cursive;
  }
  img {
    border: 2px #555 solid;
    border-radius: 10px 10px 10px 10px;
  }

  a {
    text-decoration: underline;;
    color: #555;
    text-transform: capitalize;
  }
  p {
    font-family: 'Oswald', sans-serif;
  }

  .collapsible-header, .collapsible-body {
    font-family: "Oswald", sans-serif;

  }

  .collapsible-body {
    font-size: 140%;
    color: #555;
    font-weight: bold;
  }

  .faq {
    margin-top: 25px;
  }

  #brutus-bowtie {
    position: relative;
    height: auto;
    width: 65%;
  }

}
