#contact-section {
  h1 {
    font-size: 80px;
    margin-bottom: 50px;
    color: #555;
  }
  .email {
    padding: 0 15px;
  }
  .picture {

    img {
      border: 2px #555 solid;
      border-radius: 10px 10px 10px 10px;
    }

    form {
      padding-top: 30px;
    }
  }
}

/* label focus color */
   .input-field input[type=text]:focus + label {
     color: #555;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #555;
     box-shadow: 0 1px 0 0 #555;
   }
