#social {
  .social-icon {
    height: 4.56rem;
    width: 4.56rem;
    margin: 0 10px 0 10px;

    @media only screen and (max-width: 395px){
        height: 3.56rem;
        width: 3.56rem;
    }
    .social-icon:hover {
      cursor: grab;
    }
  }
  .hashtag {
    font-family: 'Fontdiner Swanky', cursive;
    color: #555;
  }
  .juicer-feed {
    margin-top: 15px;

  }
}
