#social {
  .social-icon {
    height: 4.56rem;
    width: 4.56rem;
    margin: 0 10px 0 10px;

    .social-icon:hover {
      cursor: grab;
    }
  }
  h2 {
    font-family: 'Dancing Script', cursive;
  }
  .juicer-feed {
    margin-top: 15px;

  }
}
