* {
  padding: 0;
  margin: 0;
}

.social-row .social-col {
  padding: 0 0 0 0;
}

h1 {
    font-family: 'Fontdiner Swanky', cursive;
}
p {
  font-family: italic;
}

html {
  height: 100%;
  width: 100%;
}
body {
  box-sizing: border-box;
  // font: 20px;
}



img {
  margin-top: 10px;
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;;
}

nav {
  background-color: #fff;
  padding-top: 25px;
  height: 75px;
  box-shadow: none;

  .brand-logo {
    span {
      font-family: 'Fontdiner Swanky', cursive;
      font-size: 25px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

.nav a {

  color: #555;

  a:hover{
    background-color: #fff;
    font-size: 20px;

  }
}


.header {
}

#hr-header {
  hr{
    border-color: #555;
    width: 75%;
    display: inline-block;

  }
  span {
    // @media only screen and (min-width: 1299px) and (max-width: 1299px)

    @media only screen and (min-width: 1301px) and (max-width: 1332px) {
      font-size: 34px;
    }
    width: 25%;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 35px;
    font-weight: bold;
    color: #555;
    margin-left: 20px;
    // text-transform: uppercase;

  }
}

#hr-header-mobile {
  hr{
    border-color: #555;
    width: 100%;
    margin-bottom: 15px;
  }
}

footer {
  .social{
    display:inline-block;
    margin: 0 3px;
    @media only screen and (min-width: 778px) and (max-width: 1440px) {
      height: 12px;
      width: 12px;
    }
    height: 16px;
    width: 16px;
    border-radius: 50%;

    img {
      height: inherit;
      weight: inherit;
    }
  }
  hr{
    border-color: #555;
  }
}


#site-content {

  overflow: hidden;
  // text-align: right;

  img{
    border: 2px #555 solid;
    border-radius: 10px 10px 10px 10px;
    margin: 10px 0 10px 0;
    // position: relative;
  }

  .caption {
    padding-top: 50px;
    position: absolute;
    // float: right;

    height: 100%;
    width: 100%;
    text-align: center;
    span {
      font-size: 60%;
    }
  }
}
